/* You can add global styles to this file, and also import other style files */
/* @import 'primeflex/primeflex.css'; */
@import "tailwindcss";
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('assets/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('assets/fonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('assets/fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
h1{
    font-family: 'Vazirmatn', sans-serif !important;
}
p{
    font-family: 'Vazirmatn', sans-serif !important;
}
.p-inputtext {
    font-family: 'Vazirmatn', sans-serif !important;
}